.table-wrapper {
  overflow: auto;

  table {
    border-spacing: 0;

    th {
      border-right: 1px solid grey;
      border-bottom: 2px solid grey;
    }

    td {
      border-right: 1px solid grey;
      padding: 8px;
      min-width: 110px;
      white-space: nowrap;
    }

    .cell {
      &__number {text-align: right;}
    }
  }
}
