.table-wrapper {
  overflow: auto;

  table {
    border-spacing: 0;

    th {
      border-right: 1px solid grey;
      border-bottom: 2px solid grey;
    }

    td {
      border-right: 1px solid grey;
      padding: 0;
      min-width: 200px;
    }
  }
}
